<form [formGroup]="appForm" (ngSubmit)="onSubmit(appForm.value)" style="width: 30%;margin-left:30%" >
  <div class="form-group">
      <input type="text" class="form-control" formControlName="name" [(ngModel)]="product.Name" placeholder="Enter Name" required>
    </div><br/>

    <div class="form-group">
      <input type="text" class="form-control" formControlName="type" [(ngModel)]="product.Type" placeholder="Enter Type" required>
    </div><br/>


    <div class="form-group">
      <label>Shelf Life:</label>
      <input type="number" class="form-control" formControlName="shelflife" [(ngModel)]="product.ShelfLife" required>
    </div><br/>

    <div class="form-group">
      <label>Price:</label>
      <input type="number" class="form-control" formControlName="price" [(ngModel)]="product.Price"  step=".01" required>
    </div><br/>

  <div align="center">
      <button [disabled]="!appForm.valid" type="submit" class="btn btn-primary">Create Product</button>
  </div>
</form>
